<!DOCTYPE html>
<html lang=en>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>To Do</title>
</head>
<body>
  <main style="width: 80%; margin-left: auto; margin-right: auto;">
    <h1>Todo List</h3>
    <ul>
      {% for todo in todos %}
      <li>
        <td>{{ todo.title }}</td>
      </li>
      {% endfor %}
    </ul>

    <hr style="margin-top: 2em; margin-bottom: 2em;">

    <form action="" method="post" style="width: 50%; margin-left: auto; margin-right: auto; padding: 1em; border: 1px solid black;">
      {% if form.non_field_errors %}
      Errors:
      <ul>
        {{ form.non_field_errors.as_ul }}
      </ul>
      {% endif %}

      {% if form.title.errors %}
      Errors:
      <ul>
        {% for error in form.title.errors %}
        <li>{{ error }}</li>
        {% endfor %}
      </ul>
      {% endif %}


      {% csrf_token %}

      <label for="{{ form.title.id_for_label }}">
        <strong>New Todo Entry</strong>
      </label>

      {{ form.title }}
      <input id="add" name="add" type="submit" value="Add">
    </form>
  </main>
</body>
